body {
    margin: 15px;
}

button {
    margin: 8px;
    border-radius: 5px;
    font-size: 1em;
}

#card-container {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card {
    margin: 5px;
    width: 18%;
    aspect-ratio: 3/4;
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    display: grid;
    place-items: center;
    padding: 12px;
}

.selected {
    background-color: gray;
}

#footer {
    display: flex;
    justify-content: flex-start;
}

#footer button {
    margin: 5px;
}